.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  flex: 1;
}

.main-content main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.days-forecast {
  padding: 2rem 0;
}

.hourly-icon {
  margin: auto;
}
